/* Some additional colors */

.darkblue {
    color: darkblue
}

.darkgrey {
    color: darkgrey
}

.lightgrey {
    color: lightgrey
}

.green1 {
    color: #99ffb3
}

.green2 {
    color: #b3ff99
}

.green3 {
    color: #e6ff99
}

.pink1 {
    color: #cc0066
}

.pink2 {
    color: #ff0066
}

.pink3 {
    color: #ff5050
}

.orange1 {
    color: #ff9933
}
